<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'Tipo de Persona' %>
    <select name="user_type">
      <option value="N">Natural</option>
      <option value="J">Juridico</option>
    </select> 
  </div>

  <div class="field">
    <%= form.label :'Numeroo de Documento' %>
    <%= form.number_field :nid %>
  </div>

  <div class="field">
    <%= form.label :'Fecha de Emision' %>
    <%= form.date_select :date_e %>
  </div>

  <div class="field">
    <%= form.label :'Fecha de Vencimiento' %>
    <%= form.date_select :date_v %>
  </div>

  <div class="field">
    <%= form.label :'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :'Correo Electronico' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :'Nro Telefonico Principal' %>
    <%= form.number_field :main_tlf %>
  </div>

  <div class="field">
    <%= form.label :'Numero Telefonico Secundario' %>
    <%= form.number_field :sec_tlf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
