<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Numero de Documento</th>
      <th>Fecha Emision</th>
      <th>Fecha Vencimiento</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>tlf Principal</th>
      <th>Tlf Secundario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_type.capitalize() %></td>
        <td><%= user.nid %></td>
        <td><%= user.date_e.strftime("%d/%m/%Y")%></td>
        <td><%= user.date_v.strftime("%d/%m/%Y") %></td>
        <td><%= user.name.titleize() %></td>
        <td><%= user.email %></td>
        <td><%= user.main_tlf %></td>
        <td><%= user.sec_tlf %></td>
        <td><%= link_to 'Ver', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Seguro desea Eliminar el Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
