<p id="notice"><%= notice %></p>

<p class="text-danger">
  <strong>Tipo de Persona:</strong>
  <%= @user.user_type.titleize() %>
</p>

<p>
  <strong>Numerpo de Documento:</strong>
  <%= @user.nid %>
</p>

<p>
  <strong>Fecha de Emision:</strong>
  <%= @user.date_e.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Fecha de Vencimiento:</strong>
  <%= @user.date_v.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name.titleize() %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Telefono Principal:</strong>
  <%= @user.main_tlf %>
</p>

<p>
  <strong>Telefono Secundario:</strong>
  <%= @user.sec_tlf %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
